---
layout: default
---
<div class="clear"></div>
<div>
  <img alt="保险柜" src="/images/splash.png" width="1000" height="650" />
</div>
<div class="clear"></div>
<div class="content">
  <div class="tabber">
    <ul class="tabs">
      <li><a class="active" href="#">新闻内容</a></li>
    </ul>
  </div>
  <div class="con con1">
  	<div class="newscontent mt10px">
  		<div class="newsnav">

  		</div>
  		<div class="newshead">
  			<h2>{{ page.title }}</h2>
  			<em>{{ page.date | date:'%Y-%m-%d' }}</em>
  		</div>
  		<div class="newsbody">
  {{ content }}
  		</div>
  	</div>
  </div>
</div>

<div class="clear"></div>
